.promotion-card {
  .layout {
    height: 184px;
    @media screen and (max-width: 600px) {
      height: inherit;
    }
  }
  img {
    height: 92px;
  }
}
.more-details-container {
  position: absolute;
  bottom: 24px;
  @media screen and (max-width: 600px) {
    margin-top: 16px;
    position: inherit;
  }
}
