.header-container{  
  .v-tab {
    text-transform: inherit;
    &.v-tab--active {
      color: var(--v-torusBrand1-base);
    }
  }

  .home-link {
    cursor: pointer;
  }

  .v-system-bar {
    margin-top: 66px;
    &.is-lrc {
      margin-top: 90px;
    }
    @media (max-width: 960px) {
      margin-top: 58px;
      &.is-lrc {
        margin-top: 82px;
      }
    }
    .v-icon {
      -webkit-appearance: none;
    }
  }
}
