.v-toolbar {
  box-shadow: none;
}

.v-tab {
  text-transform: inherit;
  font-size: 16px;
  min-width: 50px;
}

.beta-text {
  line-height: 1em;
}

::v-deep .v-badge__badge.primary {
  background-color: #ffffff !important;
  color: var(--v-primary-base);
  border: 1px solid var(--v-primary-base);
  border-radius: 3px;
  padding: 0 10px;
  right: -30px;
}

.theme--light {
  .v-tab {
    &.v-tab--active {
      color: var(--v-secondary-darken3);
    }
  }
}

.home-link {
  cursor: pointer;
}

.v-tabs-bar.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tab:first-of-type {
  margin-left: 0;
}