.header-container{
  .theme--dark & {
    background: var(--v-background-base);
  }
  
  .v-toolbar {
    box-shadow: none;
    padding: 0;
  }
  
  .v-tabs-bar.v-tabs-bar--is-mobile:not(.v-tabs-bar--show-arrows) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tab {
    text-transform: inherit;
    font-size: 14px;
    min-width: 50px;
    &:first-of-type {
      margin-left: auto
    }
  }

  .v-tab {
    text-transform: inherit
  }
  
  .beta-text {
    line-height: 1em;
    margin-bottom: -10px;
    margin-left: 5px;
  }
  
  .beta-text-mobile {
    line-height: 1em;
    margin-top: -5px;
  }
  
  .v-tab {
    &.v-tab--active {
      color: var(--v-primary);
    }
  }
  
  .home-link {
    cursor: pointer;
  }
}