/* NEW UI */
.container {
  max-width: 600px;
}

.v-card__text {
  padding: 12px;
}

.request-from a {
  text-decoration: none;
}

.card-upper-icon {
  width: 12px;
  height: 12px;
}

.v-divider {
  margin: 0 0 12px;
}

.key-item {
  max-width: 200px;
  word-break: break-all;
  line-height: 1em;
  margin-top: 2px;
}

.dialog-launcher {
  cursor: pointer;
}

.note-list {
  .v-list-item {
    min-height: inherit;
  }
  &__icon {
    margin-top: -1px;
  }
}

.theme--light.v-sheet,
.theme--dark.v-sheet {
  background: transparent;
}

::v-deep .v-btn.link-icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  padding: 0;
  &.theme--dark { 
    box-shadow: 5px 5px 10px #242529, -5px -5px 10px #37383C !important;
  }
}

.more-details-lnk {
  font-size: 10px;
  text-decoration: none;
}