.login-panel-right {
  background-image: url('/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #0364ff;
  background-position: 70% bottom;

  @media only screen and (min-width: 960px) {
    background-position: 80% bottom;
  }

  .caption {
    width: 80%;
    margin: auto;
  }

  &.torus-dark {
    background-image: url('/images/login-bg-dark.jpg');
    background-color: #242529;
  }

  .right-panel-header {
    font-size: 24px;
    @media only screen and (min-width: 960px) {
      font-size: 32px;
    }
  }
  .right-panel-subheader {
    width: 100%;
    @media only screen and (min-width: 960px) {
      width: 80%;
    }
    @media only screen and (min-width: 1400px) {
      width: 60%;
    }
  }
}

.login-btn {
  &.v-btn {
    width: 70%;
    border-radius: 9px;
    height: 60px;
    border: 1px solid #f1f2f6;
    img {
      height: 26px;
    }
  }
  ::v-deep .v-btn__content {
    justify-content: left;
  }

  &.torus-dark {
    border: 1px solid #36373b;
    padding-left: 2px;
    background-color: #4285f4 !important; //temporary until v8 is global
    color: #ffffff !important;

    img {
      height: 56px;
    }
  }
}

.logout-btn {
  &.v-btn {
    border: 1px solid #f1f2f6 !important;
    height: inherit;
  }
  &.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    border: 1px solid #343539;
    background-color: #424242;
  }
}

a {
  text-decoration: none;
}

.other-login-container {
  margin: 0 -4px;
  .other-login-btn {
    border-radius: 9px;
    height: 60px;
    margin-bottom: 8px;
    &.theme--dark.torus-dark {
      border: 1px solid #343539;
      background-color: #424242;
    }
  }
}

.background-login {
  position: relative;
  @extend .default;

  @media only screen and (min-width: 1264px) {
    background-size: 100%;
  }
}

.text-gray {
  color: var(--v-text_1-lighten4);
}

.login-subtitle {
  max-width: 514px;
  margin: 0 auto;
}

.default {
  height: 100%;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}
