.login-dialog-container {
  ::v-deep .v-dialog {
    border-radius: 6px;
  }

  .torus_text--text {
    color: #5c6c7f;
  }

  .login-header {
    background: #ffffff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border-radius: 6px;
    line-height: 0;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #dfdfdf;
    }
  }

  .verifier-title {
    img {
      height: 18px;
      margin-bottom: -4px;
      margin-left: 2px;
    }
    &__google-blue {
      color: #4285f4;
    }
    &__google-red {
      color: #ea4335;
    }
    &__google-yellow {
      color: #fbbc05;
    }
    &__google-green {
      color: #34a853;
    }
    &__facebook {
      color: #3478ea;
    }
    &__reddit {
      color: #ff4500;
    }
    &__twitch {
      color: #695790;
    }
    &__discord {
      color: #7289da;
    }
    &__github {
      color: #000000;
    }
    &__linkedin {
      color: #2867b2;
    }
    &__twitter {
      color: #55acee;
    }
    &__weibo {
      color: #e71f19;
    }
    &__passwordless {
      color: #000000;
    }
    &__jwt {
      color: #000000;
    }
    &__email_password {
      color: #000000;
    }
  }

  .verifier-subtitle {
    font-size: 18px;
  }

  .login-btn.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: #ffffff;
    border: 1px solid #f1f2f6;
    box-sizing: border-box;
    box-shadow: 0px 18.2385px 36.4771px rgba(46, 91, 255, 0.06);
    min-width: inherit;
    padding: 0;
    height: 56px;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .login-btn-long {
    &.v-btn {
      background: #ffffff !important;
      border: 1px solid #f1f2f6 !important;
      box-sizing: border-box;
      box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
      border-radius: 9px;
      height: 60px;
    }
    ::v-deep .v-btn__content {
      justify-content: left;
    }

    &.torus-dark {
      background: #2f3136 !important;
      border: 1px solid #404145 !important;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      color: #ffffff !important;
    }
  }

  .footer-notes {
    font-size: 11px;
    margin-top: 40px;
    .privacy-learn-more {
      font-weight: bold;
      text-decoration: none;
    }
    .footer-links a {
      text-decoration: none;
    }
  }

  &.theme--dark {
    background: #242529;
    .torus_text--text {
      color: #d3d3d4;
    }
    .login-header {
      background: #242529;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
    }

    .login-btn.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
      background: #2f3136;
      border: 1px solid #404145;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
    }
  }
}
