@import '../../../scss/login-types.mixin';

::v-deep .v-dialog {
  overflow-y: hidden;
}

.login-dialog-container.v-card {
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #dfdfdf;
  }

  .login-btn.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: #ffffff;
    border: 1px solid #f1f2f6;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    min-width: inherit;
    padding: 0;
    height: 48px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .login-btn-long.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background: #ffffff !important;
    border: 1px solid #f1f2f6 !important;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 40px;

    &.torus-dark {
      background: #2f3136 !important;
      border: 1px solid #404145 !important;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      color: #ffffff !important;
    }

    ::v-deep .v-btn__content {
      justify-content: left;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .footer-notes {
    font-size: 11px;
    .privacy-learn-more {
      font-weight: bold;
      text-decoration: none;
    }
  }
  .footer-links {
    background: var(--v-torusGray4-base);
    .theme--light.v-divider {
      border-color: var(--v-text_2-base);
    }
    &.smallScreen {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .login-btns-container {
    height: 225px;
    overflow-y: hidden;
    overflow-x: hidden;
    &.has-more {
      height: 285px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 8px;
      padding-bottom: 28px;
      scrollbar-width: thin;
      scrollbar-color: #d3d3d4 #eef2f4;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #eef2f4;
      border-radius: 6px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #d3d3d4;
      border-radius: 6px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #a8a8a9;
    }
  }

  .view-option-selector.has-more {
    .v-icon {
      transform: rotate(-180deg);
    }
  }

  &.theme--dark {
    background: #242529;
    .login-header {
      background: #242529;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
    }

    .login-btn.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
      background: #2f3136;
      border: 1px solid #404145;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
    }

    .login-btns-container {
      &.has-more {
        scrollbar-color: #5C6C7F #2F3136;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: #2f3136;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #5c6c7f;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #a8a8a9;
      }
    }

    .footer-links {
      background: var(--v-torusBlack2-base);
    }
  }
}
