.account-list {
  border-radius: 6px;
  .v-avatar {
    border-radius: 0;
    align-self: start;
  }
  .v-list-item:not(:last-child) {
    border-bottom: thin solid #D3D5E2;
    &.theme--dark {
      border-bottom: thin solid rgba(255, 255, 255, 0.12);
    }
  }
  .tkey-features {
    padding-left: 16px
  }
}
