.qr-container img {
  width: 260px;
  @media screen and (max-width: 600px) {
    max-width: 260px;
    width: inherit;
  }
}

.v-btn.qr-btn {
  background-color: #F9F9FB;
  color: #7F8FA4;
  &.theme--dark {
    background-color: var(--v-torus_black2-base);
    color: #5C6C7F;
  }
}