
$duration:30s;
$ease:ease-in-out;
.holder{
  top:-450px;
  left:450px;
	position: relative;
	.circle{
    box-sizing: content-box;
		border-radius:100% 100% 0 0;
		position: absolute;
		bottom: 0;
		left:50%;
		transform:translateX(-50%);
    transform-origin:bottom center;
    animation-delay: 20s;
	}
	@for $i from 1 through 16{
    .circle:nth-child(#{$i}){
      $size:0;
			@if($i > 8){
        $size:47px * ($i - 2);
				border:17px solid #323232;
			}@else{
        $size:25px;
				background:#191919;
			}
			border-bottom:none;
			border-radius:$size $size 0 0;
			width:$size;
			height:$size / 2;
			z-index: -999999 - $i;
			animation: circle-#{$i} $duration infinite $ease;
		}
		@keyframes circle-#{$i}{
			0%{transform:translateX(-50%) rotate( 0deg);}
			100%{transform:translateX(-50%) rotate(-($i * 360deg));}
		}
	}
}