.wallet-topup {
  .help-icon {
    height: 13px;
    vertical-align: middle;
  }

  .unique-hint {
    :deep(.v-text-field__details) {
      display: none;
    }

    &.error--text {
      :deep(.v-text-field__details) {
        display: inherit;
      }
    }

    .v-btn {
      border-style: dashed;
    }
  }

  :deep(.v-text-field__details) {
    padding: 0;
  }
}
