.quick-address {
  .v-btn.address-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #F9F9FB;
    color: #7F8FA4;
    border-radius: 12px;
    letter-spacing: 0.1px;
    font-size: 12px;
    font-weight: bold;
    &.theme--dark {
      background-color: var(--v-torus_black2-base);
      color: #5C6C7F;
    }
  }
}