.message-modal {
  .close-btn {
    position: absolute;
    right: 0;
    top: 0  ;
  }
  .skip-btn {
    color: #D8D8D8;
  }
  .image-container {
    background-color: #2dcc70;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    position: relative;

    &-success {
      background-color: #2dcc70;
    }

    &-danger {
      background-color: #e20d0d;
    }
  }
  .modal-button {
    height: auto;
    text-transform: initial;
  }
}

.theme--dark {  
  .card-shadow {
    border-bottom: 1px solid #343539;
  }
}