.footer-notes {
  font-size: 11px;
  margin-top: 16px;
  .privacy-learn-more {
    font-weight: bold;
  }

  &.not-sm {
    margin-top: 20px;
    font-size: 12px;
  }
}

.self-custodial-footer {
  &__title {
    color: rgb(var(--v-theme-text_2));
  }
  &__how {
    color: #979797;
  }
  &.v-theme--dark {
    .self-custodial-footer__title {
      color: #b7b8bd;
    }
    .self-custodial-footer__how {
      color: #979797;
    }
  }
}
