@import '../../scss/nav-selector.mixin';
@mixin svg-size($args...) {
  @each $name, $size in keywords($args) {
    .svg-setting-#{$name} {
      width: $size;
      height: $size;
    }
  }
}

@include svg-size($tiny: 18px, $small: 24px, $medium: 38px, $large: 80px);

%justify-align {
  justify-content: start;
  align-items: center;
}

.spanWrapSvgStyle {
  display: inline-flex;
  @extend %justify-align;
}

.text-bluish {
  color: var(--v-torus_blue-base);
}

.select-width {
  width: 80px;
}

/* NEW UI */
::v-deep .nav-selector {
  @include navSelector();
  &.transaction {
    max-width: 150px;
  }
  &.period {
    max-width: 130px;
  }
  .v-icon {
    color: var(--v-normal_text-base);
  }
}