.setup-wallet-container {
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(211, 221, 255, 0.06);
  border-radius: 6px;
  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  }
}

.v-expansion-panel {
  border: 1px solid #e7e9f4;
  border-radius: 6px;
  margin-top: 0;
  &::before {
    box-shadow: none;
  }
  ::v-deep .v-expansion-panel-content__wrap {
    padding: 0;
  }
}
.v-expansion-panel:not(:first-child) {
  &::after {
    border: 0;
  }
}
.v-expansion-panel-header {
  min-height: unset;
  &.v-expansion-panel-header--active {
    border-bottom: 1px solid #e7e9f4;
    border-radius: 6px;
    min-height: unset;
  }
}
.v-expansion-panels.is-mobile {
  .v-expansion-panel-header {
    padding-left: 12px;
    padding-right: 12px;
    .caption {
      font-size: 10px !important;
    }
  }
}