.login-buttons {
  .v-btn.view-option-selector:not(.v-btn--text):not(.v-btn--icon):not(.v-btn--round) {
    height: 25px;
    border-radius: 12.5px;
    padding: 3px 12px 3px 20px;
    background: var(--v-torusGray4-base);
    box-shadow: none;
    color: var(--v-text_2-base);
    .selector-text {
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0.0178571429em;
      line-height: 1.25rem;
    }
    &.has-more {
      .v-icon {
        transform: rotate(-180deg);
      }
    }
    &.theme--dark {
      background: #111928;
      color: var(--v-text_2-base);
    }
  }

  .v-input.passwordless-email.v-text-field--outlined {
    margin-bottom: 8px;
    ::v-deep .v-input__control {
      .v-text-field__details {
        display: none;
      }
    }
    &.theme--dark {
      ::v-deep .v-input__control {
        .v-input__slot {
          background: #1f2a37;
        }
      }
    }

    &.error--text {
      ::v-deep .v-input__control {
        .v-text-field__details {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  .or-container {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media only screen and (min-height: 1080px) {
  .login-buttons.is-popup {
    .or-container {
      margin-top: 0.3vh;
      margin-bottom: 0.8vh;
      font-size: 1.5vh;
      line-height: 1.2em;
    }
    .v-input.passwordless-email {
      margin-bottom: 0.8vh;
      ::v-deep .v-input__control {
        .v-input__slot input {
          font-size: 1.7vh;
          padding-left: 2.5vh;
          padding-right: 2.5vh;
        }
      }
      &.error--text {
        ::v-deep .v-input__control {
          .v-messages {
            font-size: 1.3vh;
            .v-messages__message {
              line-height: 1.2em;
            }
          }
        }
      }
    }
    .v-btn.view-option-selector:not(.v-btn--text):not(.v-btn--icon):not(.v-btn--round) {
      height: 2.7vh;
      border-radius: 1.35vh;
      padding-left: 1.35vh;
      padding-right: 1.35vh;
      .selector-text {
        font-size: 1.5vh;
        line-height: 1.2em;
      }
      .v-icon {
        margin-left: 0.5vh;
        ::v-deep svg {
          height: 2vh;
        }
      }
    }
  }
}

@media only screen and (min-height: 1440px) {
  .login-buttons.is-popup {
    .or-container {
      margin-top: 0.3vh;
      margin-bottom: 0.8vh;
      font-size: 1.3vh;
      line-height: 1.2em;
    }
    .v-input.passwordless-email {
      margin-bottom: 0.6vh;
      ::v-deep .v-input__control {
        .v-input__slot input {
          font-size: 1.5vh;
          padding-left: 2.5vh;
          padding-right: 2.5vh;
        }
      }
    }
    .v-btn.view-option-selector:not(.v-btn--text):not(.v-btn--icon):not(.v-btn--round) {
      height: 2.5vh;
      border-radius: 1.25vh;
      padding-left: 1.25vh;
      padding-right: 1.25vh;
      .selector-text {
        font-size: 1.3vh;
        line-height: 1.2em;
      }
      .v-icon {
        margin-left: 0.5vh;
        ::v-deep svg {
          height: 2vh;
        }
      }
    }
  }
}
