.login-buttons {
  .v-btn.view-option-selector:not(.v-btn--variant-text):not(.v-btn--variant-icon):not(.v-btn--rounded) {
    height: 25px;
    border-radius: 12.5px;
    padding: 3px 12px 3px 20px;
    background: rgb(var(--v-theme-torusGray4));
    box-shadow: none;
    color: rgb(var(--v-theme-text_2));
    .selector-text {
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0.0178571429em;
      line-height: 1.25rem;
    }
    &.has-more {
      .v-icon {
        transform: rotate(-180deg);
      }
    }
    &.v-theme--dark {
      background: rgb(var(--v-theme-torusBlack2));
      color: rgb(var(--v-theme-text_2));
    }
  }

  .v-input.passwordless-email {
    margin-bottom: 8px;
    :deep(.v-input__control) {
      .v-text-field__details {
        display: none;
      }
    }
    &.error--text {
      :deep(.v-input__control) {
        .v-text-field__details {
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  .or-container {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media only screen and (min-height: 1080px) {
  .login-buttons.is-popup {
    .or-container {
      margin-top: 0.3vh;
      margin-bottom: 0.8vh;
      font-size: 1.5vh;
      line-height: 1.2em;
    }
    .v-input.passwordless-email {
      margin-bottom: 0.8vh;
      :deep(input) {
        font-size: 1.7vh;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
      }
      &.error--text {
        :deep(.v-input__control) {
          .v-messages {
            font-size: 1.3vh;
            .v-messages__message {
              line-height: 1.2em;
            }
          }
        }
      }
    }
    .v-btn.view-option-selector:not(.v-btn--variant-text):not(.v-btn--variant-icon):not(.v-btn--rounded) {
      height: 2.7vh;
      border-radius: 1.35vh;
      padding-left: 1.35vh;
      padding-right: 1.35vh;
      .selector-text {
        font-size: 1.5vh;
        line-height: 1.2em;
      }
      .v-icon {
        margin-left: 0.5vh;
        :deep(svg) {
          height: 2vh;
        }
      }
    }
  }
}

@media only screen and (min-height: 1440px) {
  .login-buttons.is-popup {
    .or-container {
      margin-top: 0.3vh;
      margin-bottom: 0.8vh;
      font-size: 1.3vh;
      line-height: 1.2em;
    }
    .v-input.passwordless-email {
      margin-bottom: 0.6vh;

      :deep(input) {
        font-size: 1.5vh;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
      }
    }
    .v-btn.view-option-selector:not(.v-btn--variant-text):not(.v-btn--variant-icon):not(.v-btn--rounded) {
      height: 2.5vh;
      border-radius: 1.25vh;
      padding-left: 1.25vh;
      padding-right: 1.25vh;
      .selector-text {
        font-size: 1.3vh;
        line-height: 1.2em;
      }
      .v-icon {
        margin-left: 0.5vh;
        :deep(svg) {
          height: 2vh;
        }
      }
    }
  }
}
