.setup-seed-phrase {
  .seed-phrase-container {
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    min-height: 160px;
    &_overlay {
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    ul {
      padding: 20px;
      list-style: none;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  ::v-deep .v-textarea.custom-seed-phrase {
    textarea {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .v-btn.v-btn--icon.circle-btn {
    background-color: var(--v-torusGray4-base);
    color: var(--v-torusFont2-base);
  }

  &.theme--dark {
    .seed-phrase-container {
      border: 1px solid #202125;
      background: #28292e;
    }
    .v-btn.v-btn--icon.circle-btn {
      background-color: var(--v-torusBlack2-base);
      color: #5c6c7f;
    }
  }

  &.is-mobile {
    .seed-phrase-container {
      ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
  }
}
