.activity-details {
  .v-list-item {
    min-height: inherit;
  }

  .v-list-item__content {
    padding: 4px 0;
  }

  .details-label {
    width: 150px;
  }
  .amount-text {
    div {
      line-height: 1em;
    }
  }
  .etherscan-lnk {
    text-decoration: none;
  }

  &.isMobile {
    .details-label {
      padding-right: 4px;
      width: 90px;
    }
    .details-value {
      max-width: 150px;
    }
  }
}

.v-tooltip__content {
  background: var(--v-torusLight-base);
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
  border-radius: 6px;
  padding: 18px;
  max-width: 300px;
  opacity: 1 !important;
}
.theme--dark {
  .v-tooltip__content {
    background: var(--v-torusBlack2-base);
    border: 1px solid #404145;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  }
}
