.onboarding {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
  border-radius: 6px;
  &.theme--dark {
    border: 0;
  }

  .next-btn.v-btn.torus-btn1.isLight {
    background: #FFFFFF;
    border: 1px solid rgba(206, 208, 214, 0.3);
    box-shadow: 5px 5px 10px rgba(222, 229, 255, 0.5), -5px -5px 10px #FAFBFF;
  }

  .return-btn.v-btn.torus-btn1.theme--dark {
    box-shadow: none !important;
  }

  .onboarding-image {
    width: 100%;
    max-width: 234px;
  }
}
