.page-title {
  font-size: 20px;
  line-height: 23px;
}
.filter-selector {
  background: #ffffff;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
  border-radius: 3px;
  &.theme--dark {
    background: #2f3136;
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  }
}
