// .topup-providers {
//   .coming-soon {
//     opacity: 0.4;
//   }
// }

// .v-tooltip__content {
//   background: #fff;
//   border: 1px solid var(--v-primary-base);
//   color: var(--v-primary-base);
//   &::after {
//     content: ' ';
//     position: absolute;
//     transform: rotate(90deg);
//     top: 50%;
//     left: 0%;
//     margin-left: -10px;
//     margin-top: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: var(--v-primary-base) transparent transparent transparent;
//   }
// }

// .v-card.theme--dark.active {
//   background: var(--v-background_4-base);
// }

.v-card a {
  text-decoration: none;
}
