.learn-more {
  background-image: url('/images/footer_waves.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  border-radius: 15px;

  .v-stepper__content {
    padding: 0;
    height: 550px;
    transition: none;
  }

  .next-btn {
    position: absolute;
    bottom: 48px;
    right: 48px;
  }
}
