.add-wallet-container {
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(211, 221, 255, 0.06);
  border-radius: 6px;
  padding: 48px 70px 36px;
  &.mobile {
    border-radius: 0;
    padding: 24px;

    .add-wallet-info > div {
      text-align: justify;
    }
  }
  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  }
}
