.network-chip {
  height: 20px;
  background: #ffe9b3;
  color: #5c6c7f;
  border-radius: 10px;
  padding: 0 12px;
  justify-content: center;
  flex: none;

  &--minimal {
    max-width: 210px;
  }

  .v-icon {
    color: #5c6c7f;
    height: 8px;
    width: 8px;
    margin-right: 8px;
  }

  &__name {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    &--mobile {
      font-size: 10px;
    }
  }

  &.theme--dark,
  .v-icon {
    color: #5c6c7f;
  }

  &.network-chip--mainnet {
    background: #cde0ff;
  }

  &.network-chip--rinkeby {
    background: #caf1fe;
  }

  &.network-chip--kovan {
    background: #b7f7e9;
  }

  &.network-chip--ropsten {
    background: #ffd9f8;
  }

  &.network-chip--goerli {
    background: #ffe1d4;
  }

  &.network-chip--rpc {
    background: #c8f8c1;
  }

  &.network-chip--matic {
    background: #efe2ff;
  }

  &.network-chip--mumbai {
    background: #efe2ff;
  }

  &.network-chip--bsc_mainnet {
    background: #f0b90b;
  }

  &.network-chip--bsc_testnet {
    background: #f0b90b;
  }

  &.network-chip--xdai {
    background: #62a7a5;
    .v-icon {
      color: white;
    }
    color: white;
  }

  &.is-plain {
    background: none;
    margin: 0 -10px;
    .network-chip__name {
      font-size: 12px;
      font-weight: normal;
      text-align: left;
    }
    &.theme--dark {
      color: #d3d5e2;
      .v-icon {
        color: #d3d5e2;
      }
    }
  }
}
