::v-deep .v-breadcrumbs {
  a {
    color: rgb(var(--v-theme-text_2));
  }
  a.v-breadcrumbs__item.v-breadcrumbs__item--disabled {
    color: rgb(var(--v-theme-torusFont1));
  }
}

::v-deep .v-breadcrumbs .v-breadcrumbs__divider {
  padding-left: 4px;
  padding-right: 4px;
}
