.wallet-transfer {
  .page-title {
    font-size: 20px;
    line-height: 23px;
  }
  .currency-rate {
    margin-bottom: 2px;
  }
  .select-coin {
    background: #ffffff;
    box-shadow: inset 0px 4px 28px rgba(46, 91, 255, 0.06) !important;
    color: rgb(var(--v-theme-torusFont1));
    font-weight: normal;
    border-radius: 6px !important;
    font-size: 16px;
    display: flex;
    border: 1px solid rgb(var(--v-theme-torusGray1));
    width: 100%;
    height: 54px;
    .v-icon--right {
      color: #d3d5e2;
    }
    &.v-theme--dark {
      background-color: rgb(var(--v-theme-torusBlack)) !important;
      box-shadow: none;
      border: 1px solid rgb(var(--v-theme-torusGray3));
    }
    &:focus {
      border-color: rgb(var(--v-theme-torusFont1));
    }
    &::before {
      background-color: #ffffff;
    }
    :deep(.v-btn__content) {
      width: 100%;
    }
  }
  :deep(.v-input__details) {
    padding-left: 0px;
    padding-right: 0px;
    .v-messages {
      text-align: right;
      &.error--text {
        text-align: left;
      }
    }
  }
  .form-container.mobile {
    background: none;
  }
  .send-mode.v-btn {
    &.v-theme--dark,
    &.v-theme--light {
      border: 0 !important;
    }
    &.v-theme--dark.active {
      background-color: rgb(var(--v-theme-torusBlack2)) !important;
      color: rgb(var(--v-theme-torusFont2)) !important;
      font-weight: bold;
      cursor: default;
      box-shadow: 5px 5px 10px #242529, -5px -5px 10px #37383c !important;
    }
    &.v-theme--light.active {
      background-color: #ffffff !important;
      color: rgb(var(--v-theme-text_2)) !important;
      font-weight: bold;
      box-shadow: 5px 5px 10px #dee5ff, -5px -5px 10px #fafbff;
      cursor: default;
    }
  }
  &.mobile-view {
    .select-coin.v-theme--dark {
      background: rgb(var(--v-theme-torusBlack2)) !important;
    }
    .form-container {
      &.v-theme--dark {
        :deep(.v-input.v-text-field--outlined > .v-input__control > .v-input__slot) {
          background: rgb(var(--v-theme-torusBlack2));
        }
      }
    }
  }
  .recipient-address {
    :deep(.v-field__append-inner) {
      align-items: center;
      padding-top: 0px;
    }
    :deep(.v-combobox__selection) {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  :deep(.recipient-address.hasQrError .v-text-field__details) {
    margin-bottom: 2px;
  }
}

.v-btn.share-btn {
  background: #f5f6ff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  .v-icon {
    color: #55acee;
  }
  span {
    color: rgb(var(--v-theme-text_2));
  }
  &.v-theme--dark {
    background: #242529;
    border: 1px solid #343539;
    span {
      color: #55acee;
    }
  }
}

.qr-scan-container {
  position: relative;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.address-chip {
  position: relative;
  top: -6px;
  height: 29px;
  .v-avatar {
    left: -7px;
    height: 19px !important;
    width: 19px !important;
  }
}
.bitAddress {
  padding: 10px 5px 10px 0;
}
.bitLabelChip {
  font-size: 12px;
  display: block;
  width: fit-content;
  height: 19px;
  line-height: 19px;
  padding: 0 6px;
}
