.header-container {
  border: 1px solid #F5F5F5;
  border-top: 0;
  .account-details {
    background: #ffffff;
    border: 1px solid #e7e9f4;
    box-sizing: border-box;
    border-radius: 6px;
    margin: auto;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    .body-2 {
      line-height: 16px;
    }
  }

  &.mobile {
    border: 1px solid #F5F5F5;
    margin-top: 8px;
  }

  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-sizing: border-box;

    .account-details {
      background: #2F3136;
      box-shadow: 5px 5px 10px #242529, -5px -5px 10px #37383C;
      border: 0;
    }
  }
}