.tkey-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  &.is-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
}