.wallet-settings {
  .v-expansion-panel {
    background-color: transparent !important;
    border-radius: 0;

    &::before {
      box-shadow: none !important;
      border-bottom: 1px solid var(--v-background_3-base);
      border-radius: 0;
    }
  }

  .v-expansion-panel--active:not(:first-child),
  .v-expansion-panel--active + .v-expansion-panel {
    margin-top: 0;
  }

  .privacy-security-container .v-sheet {
    background: transparent;
  }

  .theme-btn.light-blue {
    color: #0364FF;
    background-color: white !important;
    border: 1px solid #0364FF !important;
    color: #0364FF;
  }

  .theme-btn.dark-black {
    background-color: #2F3136 !important;
    border: 1px solid white !important;
    color: white;

    &.theme--light {
      border: 1px solid #2F3136 !important;
    }
  }
}