
@import '../../scss/elevation-one.mixin';

.wallet-settings {
  .v-expansion-panels {
    .v-expansion-panel-header {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.03) !important;
    }
    .v-expansion-panel {
      &::before {
        @include elevationOne()
      }
    }
    &.theme--dark {
      .v-expansion-panel-header {
        box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.16) !important;
      }
      .v-expansion-panel {
        &::before {
          box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.16) !important;
          border: 0;
        }
      }
    }
  }
}
