.wallet-settings {
  .v-expansion-panel {
    background-color: transparent;
    border-radius: 0;

    &::before {
      box-shadow: none;
      border-bottom: 1px solid var(--v-background_3-base);
      border-radius: 0;
    }
    
    .title,
    ::v-deep .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
      color: var(--v-text_2-base);
    }
  }
  
  .v-expansion-panel--active:not(:first-child),
  .v-expansion-panel--active + .v-expansion-panel {
    margin-top: 0;
  }

  .privacy-security-container .v-sheet {
    background: transparent;
  }
}