.activity {
  .info {
    font-size: 10px;
  }

  .v-chip.status-chip {
    color: #0f1222;
    width: 100px;
    ::v-deep .v-chip__content {
      text-align: center;
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .icon-holder {
    &.circle {
      min-height: 40px;
      min-width: 40px;
      width: 40px;
      background: #F6F5F7;
      border-radius: 50%;
      margin-right: 8px;
      margin-left: 4px;
    }
    .v-icon {
      margin-left: 8px;
      margin-top: 2px;
    }
  }
}

.activity-details {
  .v-list-item {
    min-height: inherit;
  }

  .v-list-item__content {
    padding: 4px 0;
  }

  .details-label {
    font-weight: 400;
    flex: 1;
  }

  .details-value {
    flex: 4;
  }
  .network-chip {
    max-width: 200px;
  }
  .amount-text {
    div {
      line-height: 1em;
    }
  }
  .etherscan-lnk {
    text-decoration: none;
  }
}
