.activity {
  .info {
    font-size: 10px;
  }
  
  .etherscan-chip {
    background: #F6F5F7;
    color: #5C6C7F;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    &.isDark {
      background: #242529;
    }
  }

  .v-chip.status-chip {
    color: #0f1222;
    width: 100px;
    ::v-deep .v-chip__content {
      text-align: center;
      display: block;
      height: auto;
      width: 100%;
    }
  }

  .icon-holder {
    &.circle {
      min-height: 40px;
      min-width: 40px;
      width: 40px;
      background: #F6F5F7;
      border-radius: 50%;
      margin-right: 8px;
      margin-left: 4px;
      display: flex;
      .v-icon {
        margin: auto;
      }
    }
    .v-icon {
      margin-left: 8px;
      margin-top: 2px;
    }
    img {
      margin-left: 8px;
      max-height: 50px;
    }
  }
}

.activity-details {
  .v-list-item {
    min-height: inherit;
  }

  .v-list-item__content {
    padding: 4px 0;
  }

  .details-label {
    font-weight: 400;
    flex: 1;
    max-width: 125px;
    padding-right: 17px;
  }

  .details-value {
    flex: 4;
  }
  .amount-text {
    div {
      line-height: 1em;
    }
  }
  .etherscan-lnk {
    text-decoration: none;
  }

  &.isMobile {
    .details-label {
      padding-right: 4px;
    }
  }
}
