.activity {
  .info {
    font-size: 10px;
  }
}

.activity-details {
  .address-text {
    font-size: 10px;
    word-break: break-all;
  }

  .amount-text {
    div {
      line-height: 1em;
    }
  }
}