.widget {
  z-index: 999999;
  position: fixed;
}

/* FAB Speed dial */
.speed-dial-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.speed-dial-list li {
  margin-bottom: 16px;
  opacity: 0;
}

.speed-dial-list.active li {
  opacity: 1;
}

.torus-btn {
  border-radius: 30px;
  background-color: #0364ff;
  padding: 14px;
  width: 60px;
  height: 60px;
  border: 0;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.torus-btn--login {
  background-image: url('/images/login.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.3s;
}

.torus-btn--login:hover {
  width: 150px;
  background-image: url('/images/loginwithgoogle.png');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.3s;
}

.torus-btn img {
  width: 100%;
  height: auto;
}

.torus-btn--main {
  display: none;
  padding: 10px 8px 10px 12px;
  transition: transform 0.3s;
  background-image: url('/img/icons/torus-icon-light.svg');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}

.torus-btn--main.active {
  padding: 12px;
  background-color: #eef2f4;
  transform: scale(0.7);
  transition: transform 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: url('/img/icons/torus-icon-dark.svg');
}

.torus-btn--text {
  padding: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 19px;
}

.torus-btn:focus {
  outline: none;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  display: none;
  position: absolute;
  opacity: 0.8;
  background-color: #2f3136;
  color: #ffffff;
  font-family: Roboto;
  border-radius: 5px;
  padding: 3px 5px;
  text-align: center;
  font-size: 12px;
  left: 0;
  top: 0;
  transform: translate(110%, 20%);
}

.tooltip-copied {
  transform: translate(140%, 30%);
}

.tooltip-copied.tooltip-text.active {
  display: block;
}

.tooltip-note.tooltip-text.active {
  display: none;
}

.tooltip:hover .tooltip-note:not(.active) {
  display: block;
}

#closeOverlayBtn {
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-image: url('/images/red-x.png');
  background-size: 60%;
  background-repeat: no-repeat;
  border-width: 0px;
  background-position: center;
  background-color: #75b4fd;
  transition: background-color, background-image, width 0.1s ease-in-out;
  user-select: none;
  outline: none;
}

#torusIframeContainer {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#torusIframe {
  height: 100%;
  width: 100%;
  display: none;
}

/* TORUS MODAL CSS */

#torusLogo {
  width: 50%;
  height: 25%;
  margin-left: 23%;
}

#torusModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#signTransactionButton {
  display: inline-block;
  border: none;
  background-color: #4caf50;
  padding: 4% 15%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#denyTransactionButton {
  display: inline-block;
  border: none;
  background-color: #bb5858;
  padding: 4% 15%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* The slider itself */
#gasSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
#gasSlider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#gasSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#gasSlider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#buttons {
  width: 100%;
  text-align: center;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

#receiveEther {
  display: none;
}

#sendEther {
  display: none;
}

/* Position the content inside the overlay */
.overlay-header {
  position: relative;
  top: 0%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* INPUT LABEL
=====
LEVEL 1. RESET STYLES
=====
*/

.field {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input {
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field {
  display: inline-block;
}

.a-field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: white;
}

.a-field__input:focus {
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field {
  --uiFieldHeight: var(--fieldHeight, 40px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
}

.a-field .a-field__input {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .a-field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field .a-field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field .a-field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field .a-field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - 0.5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity 0.2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .a-field__input {
  transition: border-color 0.2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus {
  border-color: var(--fieldBorderColorActive);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field {
  --fieldBorderColor: #d1c4e9;
  --fieldBorderColorActive: #673ab7;
  color: white;
}
