#torusAlert {
  z-index: 999999;
  position: fixed;
  overflow: hidden;
  top: 34px;
  right: 34px;
  width: 260px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background: #ffffff;
  font-family: 'Roboto', sans-serif !important;
  padding: 20px;
}

#torusAlert #torusAlert__title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
}

#torusAlert #torusAlert__desc {
  margin: 16px 0 0;
  font-size: 14px;
}

#torusAlert #torusAlert__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#torusAlert #torusAlert__btn {
  font-size: 14px;
  background-color: #0364ff;
  margin: 24px 0 0;
  width: 100px;
  height: 40px;
  border: 0;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#torusWidget {
  z-index: 999999;
  position: fixed;
}

/* FAB Speed dial */
#torusWidget #torusWidget__speed-dial-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#torusWidget #torusWidget__speed-dial-list li {
  margin-bottom: 16px;
  opacity: 0;
}

#torusWidget #torusWidget__speed-dial-list.active li {
  opacity: 1;
}

#torusWidget .torus-btn {
  border-radius: 30px;
  background-color: #0364ff;
  padding: 14px;
  width: 60px;
  height: 60px;
  border: 0;
  cursor: pointer;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#torusWidget .torus-btn--loading {
  display: none;
  padding: 0;
}

#torusWidget .torus-btn--loading.active {
  display: block;
}

#torusWidget .torus-btn--login {
  background-image: url('/images/login.png');
  transition: width 0.3s;
}

#torusWidget .torus-btn--login:hover {
  width: 150px;
  background-image: url('/images/login-with-torus.png');
  background-size: 85%;
  transition: width 0.3s;
}

#torusWidget .torus-btn img {
  width: 100%;
  height: auto;
}

#torusWidget .torus-btn--main {
  display: none;
  padding: 10px 8px 10px 12px;
  transition: transform 0.3s;
  background-image: url('/img/icons/torus-icon-light.svg');
  background-size: 55%;
  background-position: 55% 52%;
}

#torusWidget .torus-btn--main.active {
  padding: 12px;
  background-color: #eef2f4;
  transform: scale(0.7);
  transition: transform 0.3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: url('/img/icons/torus-icon-dark.svg');
}

#torusWidget .torus-btn--text {
  padding: 10px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 19px;
}

#torusWidget .torus-btn--home {
  background-image: url('/img/icons/home.svg');
}

#torusWidget .torus-btn--transfer {
  background-image: url('/img/icons/indent-increase.svg');
}

#torusWidget .torus-btn:focus {
  outline: none;
}

#torusWidget .torus-tooltip {
  position: relative;
}

#torusWidget .torus-tooltip-text {
  display: none;
  position: absolute;
  opacity: 0.8;
  background-color: #2f3136;
  color: #ffffff;
  font-family: 'Roboto', sans-serif !important;
  border-radius: 5px;
  padding: 3px 5px;
  text-align: center;
  font-size: 12px;
  left: 0;
  top: 0;
  transform: translate(70px, 10px);
}

#torusWidget .torus-tooltip-copied {
  transform: translate(70px, 20px);
}

#torusWidget .torus-tooltip-copied.torus-tooltip-text.active {
  display: block;
}

#torusWidget .torus-tooltip-note.torus-tooltip-text {
  width: 150px;
}

#torusWidget .torus-tooltip-note.torus-tooltip-text.active {
  display: none;
}

#torusWidget .torus-tooltip:hover .torus-tooltip-note:not(.active) {
  display: block;
}

#torusSpinner .torusSpinner__beat {
  background-color: #ffffff;
  height: 10px;
  width: 10px;
  margin: 2px;
  border-radius: 100%;
  -webkit-animation: beatStretchDelay 0.7s infinite linear;
  animation: beatStretchDelay 0.7s infinite linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
#torusSpinner .torusSpinner__beat.beat-odd {
  animation-delay: 0s;
}
#torusSpinner .torusSpinner__beat.beat-even {
  animation-delay: 0.35s;
}
@-webkit-keyframes beatStretchDelay {
  50% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes beatStretchDelay {
  50% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
}

#closeOverlayBtn {
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-image: url('/images/red-x.png');
  background-size: 60%;
  background-repeat: no-repeat;
  border-width: 0px;
  background-position: center;
  background-color: #75b4fd;
  transition: background-color, background-image, width 0.1s ease-in-out;
  user-select: none;
  outline: none;
}

#torusIframeContainer {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#torusIframe {
  height: 100%;
  width: 100%;
  display: none;
}

/* Torus multiple login */

/* Background */
#torus-login-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #0f1222;
  background-color: rgb(33, 33, 33, 0.46);
  border-color: rgb(33, 33, 33, 0.46);
}

/* Modal Container */
#torus-login-modal__modal-container {
  background: #ffffff;
  width: 375px;
  margin: 5% auto;
  padding: 0;
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  position: relative;
}

/* Contents */
#torus-login-modal__close-container {
  position: absolute;
  right: 16px;
  top: 14px;
}

#torus-login-modal__close {
  font-size: 30px;
  color: #dfdfdf;
  font-weight: 500;
}

#torus-login-modal__close:hover,
#torus-login-modal__close:focus {
  text-decoration: none;
  cursor: pointer;
}

#torus-login-modal__modal-content {
  padding: 0;
  border: 0px solid white !important;
  font-family: 'Roboto', sans-serif !important;
  color: #5c6c7f;
  text-align: center;
}

#torus-login-modal__header-container {
  padding: 30px 0 20px;
  box-shadow: 0 14px 28px 0 rgba(46, 91, 255, 0.06);
}

#torus-login-modal__header-container img {
  height: 30px;
  width: auto;
  margin-bottom: 8px;
}

#torus-login-modal__login-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}

#torus-login-modal__form-container {
  text-align: left;
  padding: 16px 24px 50px;
  border-radius: 0 0 6px 6px;
}

#torus-login-modal__login-subtitle {
  font-size: 14px;
  margin: 0 0 8px;
}

#torus-login-modal__login-google {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border: 1px solid #f1f2f6;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 0 0 8px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 14px 28px 0 rgba(46, 91, 255, 0.06);
  color: #5c6c7f;
}

#torus-login-modal__login-google img {
  margin-right: 20px;
}

#torus-login-modal__login-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 -4px 16px;
  flex-direction: row;
  flex-wrap: wrap;
}

#torus-login-modal__login-list li {
  flex-basis: 50%;
  flex-grow: 0;
  max-width: 50%;
  padding: 0 4px 8px;
  box-sizing: border-box;
}

#torus-login-modal__login-list button {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border: 1px solid #f1f2f6;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0;
  box-shadow: 0 14px 28px 0 rgba(46, 91, 255, 0.06);
}

#torus-login-modal__login-list img {
  height: 24px;
  width: auto;
}

#torus-login-modal__login-btn--reddit {
  padding: 6px 0;
}

#torus-login-modal__login-btn--reddit img {
  height: 32px;
}

#torus-login-modal__login-note {
  font-size: 12px;
}

#torus-login-modal__login-note a {
  color: #5495f7;
  cursor: pointer;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 598px) {
  #torus-login-modal__modal-container {
    width: 100%;
  }

  #torus-login-modal__modal-content {
    font-family: 'Roboto', sans-serif !important;
  }
}
