.return-btn {
  background-color: #e9eefe;
  color: var(--v-primary-base);
}

.badge-info {
  margin-top: -3rem;
}

.badge-title {
  color: #5c6c7f;
}

.badge-task-is-complete {
  color: var(--v-primary-base);
}

.badge-is-completed {
  color: #5c6c7f;
}

.close-btn {
  color: #dfdfdf;
}
