.login-header {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  line-height: 0;

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
  }
}

.login-form {
  background-color: #FFFFFF;
  .magic-link-btn {
    height: 60px;
  }
  .v-text-field.login-field {
    ::v-deep .v-input__slot{
      height: 60px;
      padding: 0 20px;
    }
    ::v-deep .v-input__prepend-inner {
      padding-right: 8px;
    }
    ::v-deep .v-icon {
      color: var(--v-text_2-base);
    }
    ::v-deep input {
      color: var(--v-text_2-base);
    }
    ::v-deep input:-webkit-autofill,
    ::v-deep input:-webkit-autofill:hover, 
    ::v-deep input:-webkit-autofill:focus, 
    ::v-deep input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
}