.v-btn:not(.v-btn--text):not(.v-btn--icon) {
  background: #ffffff;
  border: 1px solid #f9f9fb;
  box-sizing: border-box;
  box-shadow: 2px 2px 12px rgba(3, 100, 255, 0.05);
  border-radius: 6px;
  min-width: inherit;
  padding: 0;
  margin-right: 7px;
  margin-bottom: 7px;
  width: 56px;
  height: 56px;
  &.isDark {
    background: #2f3136 !important;
    border: 1px solid #404145 !important;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
  }
  img {
    width: 26px;
    height: 26px;
  }
}

.v-btn.is-long {
  ::v-deep .v-btn__content {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0;
    img + span,
    .v-icon + span {
      margin-left: 8px;
    }
  }
}
