.activity {
  .info {
    font-size: 10px;
  }

  .etherscan-chip {
    background: #f6f5f7;
    color: #5c6c7f;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    &.isDark {
      background: #242529;
    }
  }

  .v-chip.status-chip {
    width: 100px;
  }
}
