.add-token.v-card.v-theme--dark {
    background: #242529;
  }
  
  .card-header {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    line-height: 0;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border: 1px solid #f5f5f5;
  
    .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #d3d3d4;
    }
  }
  
  .v-divider {
    border-color: #f5f5f5;
  }
  
  .v-theme--dark {
    .card-header {
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
      border-bottom: 1px solid #343539;
      background: #242529;
    }
    .v-divider {
      border-color: #6f717a;
    }
  }
  