.v-btn.v-btn--variant-icon.qr-btn {
  background-color: rgb(var(--v-theme-torusGray5));
  color: rgb(var(--v-theme-torusFont2));
  &.v-theme--dark {
    background-color: rgb(var(--v-theme-torusBlack2));
    color: #5c6c7f;
  }
}

.card-header {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  line-height: 0;

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(var(--v-theme-text_1));
  }
}

.qr-container img {
  width: 177px;
  @media screen and (max-width: 600px) {
    max-width: 177px;
    width: inherit;
  }
}

.public-address {
  font-size: 12px;
}

.v-theme--dark {
  .card-header {
    background: rgb(var(--v-theme-torusBlack2));
  }
}
