.created-wallet-container {
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0px 14px 28px rgba(211, 221, 255, 0.06);
  border-radius: 6px;

  .created-headline {
    font-weight: bold;
    font-size: 1.25rem !important;
    line-height: 1.4375;
    letter-spacing: 0;
  }

  .wallet-item-container {
    cursor: pointer;

    .radio-icon {
      color: var(--v-torusGray3-base);
    }

    .wallet-item {
      border: 1px solid var(--v-torusGray3-base);
      border-radius: 6px;
      .v-icon {
        color: var(--v-torusFont2-base);
      }
      &__id {
        color: var(--v-torusFont2-base);
      }
      &__address {
        color: var(--v-text_3-base);
      }
    }

    &.active {
      .radio-icon {
        color: var(--v-torusBrand1-base);
      }
      .wallet-item {
        border: 1px solid var(--v-torusBrand1-base);
        .v-icon {
          color: var(--v-text_1-base);
        }
        &__id {
          color: var(--v-text_1-base);
        }
        &__address {
          color: var(--v-torusFont2-base);
        }
      }
    }
  }
  
  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);

    .wallet-item-container {
      .radio-icon {
        color: var(--v-torusGray3-base);
      }
  
      .wallet-item {
        .v-icon {
          color: var(--v-text_2-base);
        }
        &__id {
          color: var(--v-text_2-base);
        }
      }
      
      &.active {
        .radio-icon {
          color: var(--v-torusBrand1-base);
        }
        .wallet-item {
          .v-icon {
            color: var(--v-torusFont2-base);
          }
          &__id {
            color: var(--v-torusFont2-base);
          }
          &__address {
            color: var(--v-text_2-base);
          }
          background: rgba(92, 108, 127, 0.5);
        }
      }
    }
  }
}