@import '../../../scss/login-types.mixin';

.login-dialog-container.v-card {
  background: #f9f9fb;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #dfdfdf;
  }

  .login-header {
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border-radius: 6px;
    line-height: 0;
    padding: 28px 24px;
    margin-bottom: 20px;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #dfdfdf;
    }
    .verifier-title1 {
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.75rem;
      letter-spacing: 0;
    }
    .verifier-title2 {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.3rem;
      letter-spacing: 0;
      img {
        height: 18px;
        margin-bottom: -4px;
        margin-left: 2px;
      }
      @include loginTypes();
    }
  }

  .buttons-holder {
    margin-left: 24px;
    margin-right: 24px;
  }

  .login-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
    background: #ffffff;
    border: 1px solid #f1f2f6;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    min-width: inherit;
    padding: 0;
    height: 60px;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .login-btn-long.v-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
    background: #ffffff !important;
    border: 1px solid #f1f2f6 !important;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 36px;

    &.torus-dark {
      background: #2f3136 !important;
      border: 1px solid #404145 !important;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      color: var(--v-text_3-base) !important;
    }

    ::v-deep .v-btn__content {
      justify-content: left;
    }

    img {
      width: 26px;
      height: 26px;
    }
  }

  .footer-notes {
    font-size: 11px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    .privacy-learn-more {
      font-weight: bold;
      text-decoration: none;
    }
  }
  .footer-links {
    padding-left: 24px;
    padding-right: 24px;
    background: var(--v-torusGray4-base);
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0;
    font-weight: normal;
    .theme--light.v-divider {
      border-color: var(--v-text_2-base);
    }
    &.smallScreen {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .v-btn.view-option-selector:not(.v-btn--text):not(.v-btn--icon):not(.v-btn--round) {
    height: 25px;
    border-radius: 12.5px;
    padding: 3px 12px 3px 20px;
    background: var(--v-torusGray4-base);
    box-shadow: none;
    color: var(--v-text_2-base);
    &.has-more {
      .v-icon {
        transform: rotate(-180deg);
      }
    }
    &.theme--dark {
      background: var(--v-torusBlack2-base);
      color: var(--v-text_2-base);
    }
  }

  &.theme--dark {
    background: #242529;
    .login-header {
      background: #242529;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
    }

    .login-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
      background: #2f3136;
      border: 1px solid #404145;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
    }

    .footer-links {
      background: var(--v-torusBlack2-base);
    }
  }

  @media only screen and (min-height: 1080px) {
    .login-header {
      padding: 2.6vh 2.7vh;
      margin-bottom: 2.6vh;
      .verifier-title1 {
        font-size: 2.6vh;
        line-height: 1.2em;
      }
      .verifier-title2 {
        font-size: 2vh;
        line-height: 1.2em;
      }
      .close-btn {
        top: 0.9vh;
        right: 0.9vh;
      }
    }

    .buttons-holder {
      margin-left: 2.6vh;
      margin-right: 2.6vh;
    }
    .footer-notes {
      padding-left: 2.6vh;
      padding-right: 2.6vh;
      margin-top: 2.6vh;
      margin-bottom: 4.4vh;
      font-size: 1.2vh;
      line-height: 1.2em;
    }
    .footer-links {
      padding: 1.6vh 2.6vh;
      font-size: 1.3vh;
      line-height: 1.2em;
    }
  }
  @media only screen and (min-height: 1440px) {
    .login-header {
      padding: 2.5vh 2.4vh;
      margin-bottom: 2.4vh;
      .verifier-title1 {
        font-size: 2.2vh;
        line-height: 1.2em;
      }
      .verifier-title2 {
        font-size: 1.6vh;
        line-height: 1.2em;
      }
    }

    .buttons-holder {
      margin-left: 2.4vh;
      margin-right: 2.4vh;
    }
    .footer-notes {
      padding-left: 2.4vh;
      padding-right: 2.4vh;
      margin-top: 2.5vh;
      margin-bottom: 2.5vh;
      font-size: 1vh;
      line-height: 1.2em;
    }
    .footer-links {
      padding: 1vh 2.4vh;
      font-size: 1vh;
      line-height: 0.875em;
    }
  }
}
