@import '../../../scss/login-types.mixin';

.login-dialog-container.v-card {
  background: #f9f9fb;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #dfdfdf;
  }

  .login-header {
    background: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border-radius: 6px;
    line-height: 0;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #dfdfdf;
    }
    .verifier-title {
      img {
        height: 18px;
        margin-bottom: -4px;
        margin-left: 2px;
      }
      @include loginTypes();
    }
  }

  .login-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
    background: #ffffff;
    border: 1px solid #f1f2f6;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    min-width: inherit;
    padding: 0;
    height: 60px;
    img {
      width: 32px;
      height: 32px;
    }
  }

  .login-btn-long.v-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
    background: #ffffff !important;
    border: 1px solid #f1f2f6 !important;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 36px;

    &.torus-dark {
      background: #2f3136 !important;
      border: 1px solid #404145 !important;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      color: var(--v-text_3-base) !important;
    }

    ::v-deep .v-btn__content {
      justify-content: left;
    }

    img {
      width: 26px;
      height: 26px;
    }
  }

  .footer-notes {
    font-size: 11px;
    .privacy-learn-more {
      font-weight: bold;
      text-decoration: none;
    }
  }
  .footer-links {
    background: var(--v-torusGray4-base);
    .theme--light.v-divider {
      border-color: var(--v-text_2-base);
    }
    &.smallScreen {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .v-btn.view-option-selector:not(.v-btn--text):not(.v-btn--icon):not(.v-btn--round) {
    height: 25px;
    border-radius: 12.5px;
    padding: 3px 12px 3px 20px;
    background: var(--v-torusGray4-base);
    box-shadow: none;
    color: var(--v-text_2-base);
    &.has-more {
      .v-icon {
        transform: rotate(-180deg);
      }
    }
    &.theme--dark {
      background: var(--v-torusBlack2-base);
      color: var(--v-text_2-base);
    }
  }

  &.theme--dark {
    background: #242529;
    .login-header {
      background: #242529;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
    }

    .login-btn.v-btn:not(.v-btn--text):not(.v-btn--icon) {
      background: #2f3136;
      border: 1px solid #404145;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
    }

    .footer-links {
      background: var(--v-torusBlack2-base);
    }
  }
}
