.seed-phrase.v-card {
  .card-header {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    line-height: 0;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border: 1px solid #f5f5f5;
    .avatar {
      background: #D3D3D4;
      .v-icon {
        color: #5c6c7f;
      }
    }
    .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #d3d3d4;
    }
  }

  .seed-phrase-container {
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    &_overlay {
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    ul {
      padding: 20px;
      list-style: none;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
  }

  .v-btn.v-btn--icon.circle-btn {
    background-color: var(--v-torusGray4-base);
    color: var(--v-torusFont2-base);
  }

  &.theme--dark {
    background: #242529;
    .card-header {
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
      border-bottom: 1px solid #343539;
      background: #242529;
    }

    .seed-phrase-container {
      border: 1px solid #202125;
      background: #28292e;
    }
    .v-btn.v-btn--icon.circle-btn {
      background-color: var(--v-torusBlack2-base);
      color: #5C6C7F;
    }
  }

  &.is-mobile {
    .seed-phrase-container {
      ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
    }
  }
}
