.wallet-dapp-permission {
  .btn-cancel {
    box-shadow: none;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      max-width: 70%;
    }
  }
  .text {
    font-size: 1rem;
    line-height: 20px;
    font-weight: normal;
  }
  .chevron-icon {
    transition: ease 0.2s;
  }

  .icon-button {
    background-color: transparent;
    box-shadow: none !important;
    height: auto !important;
  }

  .custom-text-input {
    font-size: 0.7rem;
    .v-input__slot {
      background: transparent !important;
      box-shadow: none !important;
      border: 1px solid #d3d5e2 !important;
    }
  }

  .other-input {
    display: flex;
    align-items: center;

    .max-transaction-input {
      font-size: 0.7rem;
      label {
        font-size: 0.7rem;
      }
    }
  }

  .section-note {
    font-size: 0.7rem;
  }

  .text-gray {
    color: #5c6c7f;
  }

  .save-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
