@mixin outlineTooltip() {
  background: #fff;
  border: 1px solid var(--v-primary-base);
  color: var(--v-primary-base);
  z-index: 0;
  &::after {
    content: ' ';
    position: absolute;
    border-style: solid;
    border-color: var(--v-primary-base) transparent transparent transparent;
  }
}