@import '../../scss/card-shadow.mixin';

.v-btn {
  text-transform: inherit;
}

.v-input.v-input--is-readonly {
  .v-input__slot {
    background: var(--v-disabled-base);
  }
}

.theme--dark.v-input.v-input--is-readonly {
  fieldset {
    border-color: var(--v-disabled-base);
  }
}

.v-text-field__suffix {
  color: var(--v-text_2-base);
  font-size: 16px;
}

.navbar-line {	
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  height: 2px;
}

.account-link.v-btn.v-size--large {
  @include cardShadow();
  border: none;
  .v-icon {
    width: 36px;
    height: 36px;
  }
  background: #FFFFFF;
  padding: 14px 16px;
  height: inherit;
  font-size: 12px;
}

.theme--dark {
  box-shadow: none;
  .v-icon {
    width: 36px;
    height: 36px;
  }
  .account-link.v-btn.v-size--large {
    background: #434343;
  }
}

body,
html {
  height: 100%;
}

@media only screen and (max-width: 599px) {
  .container {
    padding: 12px 0;
  }
}