.v-btn.v-btn--icon.wallet-connect-btn {
  background: var(--v-torusGray4-base);
  color: var(--v-torusFont2-base);
  &.v-theme--dark {
    background: rgb(var(--v-theme-torusBlack2));
    color: rgb(var(--v-theme-torusFont1));
  }
}

.qr-scan-container {
  position: relative;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}


.custom-placeholer{
  font-size: 10px;
}


.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #d3d3d4;
}

.hidden-btn{
  visibility: hidden;
}

.guide-menu.v-theme--dark{
  border: 1px white solid;
  border-radius: 9px;
}

.goto-button{
  margin-left: -10px;
}
