.text-gray {
  color: var(--v-text_1-lighten4);
}

.status-btn {
  background-color: var(--v-disabled-base);
  color: var(--v-anchor-base);
}

@media (min-width: 320px) {
  .font-fit {
    font-size: 1.2rem;
  }
}

@media (min-width: 540px) {
  .font-fit {
    font-size: 0.8rem;
  }
}

.mh-4 {
  height: 8rem;
}
