.v-item-group {
  .v-list-item {
    &.active {
      border-radius: 6px;
      background-color: rgb(var(--v-theme-torusBrand1));
      .v-list-item-title {
        font-weight: bold;
        color: #ffffff;
      }
    }
    &:not(.active):hover {
      border-radius: 6px;
      background-color: rgb(var(--v-theme-torusBrand3-base));
    }

    .v-list-item__action.isMobile {
      margin-top: 9px;
      margin-bottom: 9px;
    }
  }
}

label {
  font-size: 14px;
}
