.v-input__slot {
  margin-bottom: 2px;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0;
}

.v-btn {
  text-transform: inherit;
}

.theme--light {
  /* width */
  ::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e2e2e2;
    box-shadow: inset 0 0 1px #e2e2e2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border: 2px solid #e2e2e2;
    border-radius: 8px;
  }
}

.theme--dark {
  &.v-application,
  &.v-card,
  &.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) *,
  &.v-select .v-select__selections,
  &.v-input:not(.v-input--is-disabled) input,
  &.v-input:not(.v-input--is-disabled) textarea,
  &.v-expansion-panels .v-expansion-panel,
  &.v-data-table {
    color: var(--v-normal_text-base) !important;
  }

  .theme--dark
  /* width */
  ::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #626262;
    box-shadow: inset 0 0 5px #626262;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #242529;
    border: 2px solid #626262;
    border-radius: 8px;
  }
}