.torus-app.theme--dark,
.torus-app.theme--light {
  // Input Related Styles
  input::placeholder {
    color: var(--v-text_2-base) !important;
    font-size: 14px;	
    opacity: 0.7;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: var(--v-text_1-base);
    -webkit-box-shadow: 0 0 0px 1000px var(--v-background_body_1-base) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .v-input {
    font-size: 14px;
  }

  .v-input__slot {
    margin-bottom: 2px;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0;
  }

  .theme--light.v-messages,
  .theme--dark.v-messages {
    color: var(--v-text_2-base);
  }

  .v-btn {
    text-transform: inherit;
  }

  &.v-application {
    color: var(--v-text_1-base);
    background: var(--v-background_body_1-base);
    background: linear-gradient(135deg, var(--v-background_body_1-base) 0%, var(--v-background_body_2-base) 100%);
  }
  .v-card,
  .v-card > .v-card__text,
  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .v-list-item__content,
  .v-select .v-select__selections,
  .v-input:not(.v-input--is-disabled) input,
  .v-input:not(.v-input--is-disabled) textarea,
  .v-expansion-panels .v-expansion-panel,
  .v-data-table {
    color: var(--v-text_1-base);
  }
  
  .v-text-field--outlined:not(.error--text) fieldset {
    border-color: var(--v-text_2-lighten3);
  }

  /* Override Max widths */
  @media (min-width: 1904px) {
    .container {
      max-width: 1264px;
    }
  }
}

.torus-app.theme--light {
  &.v-sheet {
    background: var(--v-background-base);
  }
  &.v-tabs .v-tabs-bar {
    background: var(--v-background-base);
  }
  &.v-data-table {
    background: var(--v-background-base);
  }
  &.v-stepper {
    background: var(--v-background-base);
  }

  .card-shadow {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.06);
    border: 0;
    border-radius: 3px;
  }
  
  // Srollbars
  /* width */
  ::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #e2e2e2;
    box-shadow: inset 0 0 1px #e2e2e2;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border: 2px solid #e2e2e2;
    border-radius: 8px;
  }

  .v-tab.v-tab--active {
    color: var(--v-secondary-darken3);
  }
}


.torus-app.theme--dark {
  & .v-data-table,
  & .v-tabs > .v-tabs-bar,
  & .v-sheet {
    background: var(--v-background-base);
  }

  .card-shadow {
    box-shadow: none;
    border: 0;
    border-radius: 3px;
  }

  // Scrollbars
  /* width */
  ::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #626262;
    box-shadow: inset 0 0 5px #626262;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #242529;
    border: 2px solid #626262;
    border-radius: 8px;
  }
  
  .v-tab.v-tab--active {
    color: #ffffff;
  }
}