
@import './scss/card-shadow.mixin';

.torus-app.theme--dark,
.torus-app.theme--light {
  // Input Related Styles
  input::placeholder {
    color: var(--v-text_2-base) !important;
    font-size: 16px;
    opacity: 0.7;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: var(--v-text_1-base);
    -webkit-box-shadow: 0 0 0px 1000px var(--v-background_body_1-base) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .v-input {
    font-size: 16px;
  }

  .v-input__slot {
    margin-bottom: 2px;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0;
  }

  .theme--light.v-messages,
  .theme--dark.v-messages {
    color: var(--v-text_2-base);
  }
  .theme--light.v-system-bar.info,
  .theme--dark.v-system-bar.info {
    color: var(--v-infoBannerText-base);
  }

  .v-btn {
    text-transform: inherit;
  }

  &.v-application {
    color: var(--v-text_1-base);
    background: var(--v-background_body_1-base);
    background: linear-gradient(135deg, var(--v-background_body_1-base) 0%, var(--v-background_body_2-base) 100%);
  }
  .v-card,
  .v-card > .v-card__text,
  .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) .v-list-item__content,
  .v-select .v-select__selections,
  .v-input:not(.v-input--is-disabled) input,
  .v-input:not(.v-input--is-disabled) textarea,
  .v-expansion-panels .v-expansion-panel,
  .v-data-table {
    color: var(--v-text_1-base);
  }

  .v-text-field--outlined:not(.error--text) fieldset {
    border-color: var(--v-text_2-lighten3);
  }

  .v-tab {
    letter-spacing: inherit;
  }

  /* Override Max widths */
  @media (min-width: 1904px) {
    .container {
      max-width: 1264px;
    }
  }
}

.torus-account--name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13em;
}

.torus-app.theme--light {
  &.v-sheet {
    background: var(--v-background-base);
    background-color: var(--v-background-base);
  }
  &.v-tabs .v-tabs-bar {
    background: var(--v-background-base);
  }
  &.v-data-table {
    background: var(--v-background-base);
  }
  &.v-stepper {
    background: var(--v-background-base);
  }

  .card-shadow {
    box-shadow: 0 14px 28px 0 rgba(46, 91, 256, 0.06);
    border: 1px solid #f5f5f5;
    border-radius: 3px;
  }

  .card-shadow-v8 {
    @include cardShadow();
    &.v-card {
      border-radius: 6px;
    }
  }

  .v-menu__content {
    @include cardShadow();
    border-radius: 9px;
  }

  .v-tab.v-tab--active {
    color: var(--v-secondary-darken3);
  }
}

.torus-app.theme--dark {
  & .v-data-table,
  & .v-tabs > .v-tabs-bar,
  & .v-sheet {
    background: var(--v-background-base);
    background-color: var(--v-background-base);
  }

  .card-shadow {
    box-shadow: none;
    border: 0;
    border-radius: 3px;
  }

  .v-tab.v-tab--active {
    color: #ffffff;
  }
}

.text-clamp-one {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-clamp-two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.torus-v8 {
  .v-input {
    &.v-input--is-readonly .v-input__slot {
      background: #F1F2F6;
    }
    &.v-text-field--outlined > .v-input__control {
      padding-top: 0;
      margin-top: 0;
      & > .v-input__slot {
        background: #FFFFFF;
        box-shadow: inset 0px 4px 28px rgba(46, 91, 255, 0.06);
        border-radius: 6px;
        min-height: 54px;
      }
      .v-input__icon--append .v-icon {
        color: #D3D5E2;
      }
    }
    &.v-text-field--outlined:not(.error--text) {
      fieldset {
        border: 0;
      }
    }
    &.v-text-field--outlined.error--text {
      fieldset {
        border: 1px solid var(--v-error-base);
      }
    }
  }
  
}