.login-dialog-container {
  ::v-deep .v-dialog {
    border-radius: 6px;
  }

  .login-header {
    background: #ffffff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border-radius: 6px;
    line-height: 0;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: #dfdfdf;
    }
  }

  .info-box {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
  }

  &.theme--dark {
    background: #242529;
    .login-header {
      background: #242529;
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
    }
    .info-box {
      background: #3c3e45;
      border: 0.5px solid #a2a5b5;
      color: var(--v-text_3-base);
    }
  }
}
