.container {
  max-width: 600px;
}

/* NEW UI */
.v-card__text {
  padding: 12px;
}

.request-from a {
  text-decoration: none;
}

.card-upper-icon {
  width: 12px;
  height: 12px;
}

.v-divider {
  margin: 0 0 12px;
}

.key-item {
  max-width: 200px;
  word-break: break-all;
  line-height: 1em;
  margin-top: 2px;
}

.dialog-launcher {
  cursor: pointer;
}

.note-list {
  .v-list-item {
    min-height: inherit;
  }
  &__icon {
    margin-top: 0px;
  }
}

.theme--light.v-sheet,
.theme--dark.v-sheet {
  background: transparent;
}

.theme--light.v-card {
  background: var(--v-torusLight-base);
}
.theme--dark.v-card {
  background: var(--v-torusLight-base);
}

.word-break {
  word-break: break-all;
}

::v-deep .v-expansion-panel .vjs-tree .vjs-value__string {
  color: var(--v-torusBrand1-base) !important;
}

::v-deep .v-expansion-panel .vjs-tree .vjs-tree__brackets {
  color: gray !important;
  display: none;
}

::v-deep .vjs-tree .vjs-tree__content.has-line {
  border-left: 1px solid #bfcbd9;
}

.v-expansion-panel {
  background: transparent !important;
  margin-bottom: 5px;
}

.v-expansion-panel::before {
  box-shadow: none;
  border-left: 2px solid var(--v-torusBrand1-base);
  border-radius: 0;
}

.v-expansion-panel:not(:first-child)::after {
  border-top: 0;
}

.v-expansion-panel-header {
  color: var(--v-torusBrand1-base) !important;
}

.background_3 {
  background: transparent !important;
}

.typedMessageBox {
  background: transparent !important;
}

.asset-name {
  line-height: 35px;
}

::v-deep .v-input.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}

::v-deep .v-messages {
  text-align: right;
}