.v-chip.network-chip {
  height: 20px;
  background: #ffe9b3;
  color: #0f1222;

  .v-icon {
    color: #0f1222;
  }

  &.network-chip--mainnet {
    background: #cde0ff;
  }

  &.network-chip--rinkeby {
    background: #caf1fe;
  }

  &.network-chip--kovan {
    background: #b7f7e9;
  }

  &.network-chip--ropsten {
    background: #ffd9f8;
  }

  &.network-chip--goerli {
    background: #ffe1d4;
  }

  &.network-chip--rpc {
    background: #c8f8c1;
  }

  &.network-chip--matic {
    background: #efe2ff;
  }
}
