.network-chip {
  height: 20px;
  background: #FFE9B3;
  color: #000000;
  border-radius: 10px;
  padding: 0 12px;
  justify-content: center;

  .v-icon {
    color: #000000;
    height: 8px;
    width: 8px;
    margin-right: 8px;
  }

  &__name {
    margin-top: -2px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    &--mobile {
      font-size: 10px;
    }
  }

  &.theme--dark, .v-icon {
    color: #5C6C7F;
  }

  &.network-chip--mainnet {
    background: #cde0ff;
  }

  &.network-chip--rinkeby {
    background: #caf1fe;
  }

  &.network-chip--kovan {
    background: #b7f7e9;
  }

  &.network-chip--ropsten {
    background: #ffd9f8;
  }

  &.network-chip--goerli {
    background: #ffe1d4;
  }

  &.network-chip--rpc {
    background: #c8f8c1;
  }

  &.network-chip--matic {
    background: #efe2ff;
  }

  &.is-plain {
    background: none;
    .network-chip__name {
      font-size: 12px;
      font-weight: normal;
      text-align: left;
    }
    &.theme--dark {
      color: #D3D5E2;
      .v-icon {
        color: #D3D5E2;
      }
    }
  }
}
