.message-modal {
  .close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .image-container {
    background-color: #2dcc70;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    position: relative;

    &-success {
      background-color: #2dcc70;
    }

    &-danger {
      background-color: #e20d0d;
    }
  }
  .modal-button {
    height: auto;
    text-transform: initial;
  }
  .torus_text--text {
    padding: 0 !important;
  }
}