.seed-phrase.v-card {
  .card-header {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 6px;
    line-height: 0;
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
    border: 1px solid #f5f5f5;
    .avatar {
      background: #d3d3d4;
      .v-icon {
        color: #5c6c7f;
      }
    }
    .close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #d3d3d4;
    }
  }

  .seed-group {
    background: #fbfcff;
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .seed-group_item {
    border-radius: 6px;
    .v-avatar {
      border-radius: 0;
      align-self: start;
      & > svg,
      & > .v-icon {
        margin: auto;
      }
    }
    .v-list-item:not(:last-child) {
      border-bottom: thin solid #d3d5e2;
      &.theme--dark {
        border-bottom: thin solid rgba(255, 255, 255, 0.12);
      }
    }
    &.theme--dark {
      border: 1px solid #202125;
    }
    .v-list-item {
      border-bottom: 1px solid #f5f5f5;
      &:last-child {
        border-bottom: 0;
      }
      &.theme--dark {
        border-bottom: 1px solid #202125;
      }
    }
  }

  &.is-dark {
    .card-header {
      box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);
      border: 0;
      border-bottom: 1px solid #343539;
      background: var(--v-torusBlack2-base);
    }

    .seed-group {
      background: #2f3136;
      border: 1px solid #5c6c7f;
    }

    .seed-group_item {
      border: 1px solid #202125;
      .v-list-item {
        background: #28292e;
        &.theme--dark {
          border-bottom: 1px solid #202125;
        }
      }
    }
  }
}
