.v-tooltip__content {
  background: var(--v-torus_light-base);
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 20px 30px;
  max-width: 300px;
  opacity: 1 !important;
  color: var(--v-torus_black-base);
}
.v-icon {
  color: var(--v-text_1-base);
}
