.account-list {
  border-radius: 6px;
  border: thin solid rgba(0, 0, 0, 0.12);
  .v-avatar {
    border-radius: 0;
    align-self: start;
    & > svg,
    & > .v-icon {
      margin: auto;
    }
  }
  .v-list-item {
    border-bottom: thin solid #d3d5e2;
    &.v-theme--dark {
      border-bottom: thin solid #202125;
    }
  }
  .v-list-item:last-child {
    border-bottom: 0;
    &.v-theme--dark {
      border-bottom: 0;
    }
  }
  &.v-theme--dark {
    border: 1px solid #202125;
    .v-list-item {
      background: #28292e;
    }
  }

  .tkey-features {
    padding-left: 16px;
  }
}
