// ::v-deep .button-speed {
//   &.v-size--large {
//     padding: inherit;
//   }
//   &.v-btn {
//     height: inherit;
//     border: 1px solid var(--v-text_2-lighten3);
//     color: var(--v-text_2-base);
//   }
//   &.v-btn.selected {
//     border: 1px solid var(--v-primary-base);
//     color: var(--v-primary-base);
//   }
//   .v-btn__content {
//     flex-direction: column;
//     padding: 12px 0;
//     line-height: 1em;
//   }
// }

::v-deep .button-speed {
  width: 100%;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  &.v-chip {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0px 4px 28px rgba(46, 91, 255, 0.06);
    border-radius: 6px;
  }
  &.selected {
    background: #CDE0FF
  }  
  &__speed {
    height: 1.2em;
  }
  &__edit {
    line-height: 1em;
    font-size: 10px;
    color: #006BE8;
    &--transfer {
      font-size: 14px;
    }
  }
  .v-chip__content {
    width: 100%;
    div {
      flex: 1;
    }
  }
  &--transfer {
    height: 54px;
    .v-chip__content {
      padding: 12px;
      display: block;
      & > div {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }

  &.theme--dark {
    &.v-chip {
      background: #2F3136;
      .v-chip__content {
        color: var(--v-text_1-base);
      }
    }
    &.selected {
      border-color: var(--v-text_2-lighten3);
      background: #5C6C7F !important;
    }
  }
}

::v-deep .theme--dark.button-speed {
  &.v-btn {
    border: 1px solid var(--v-text_2-base);
    color: var(--v-text_2-base);
  }
  &.v-btn.selected {
    border: 1px solid var(--v-text_1-base);
    color: var(--v-text_1-base);
  }
}

.advance-option {
  cursor: pointer;
}