::v-deep .button-speed {
  &.v-btn {
    height: inherit;
    border: 1px solid var(--v-text_2-lighten3);
    color: var(--v-text_2-base);
  }
  &.v-btn.selected {
    border: 1px solid var(--v-primary-base);
    color: var(--v-primary-base);
  }
  .v-btn__content {
    flex-direction: column;
    padding: 12px 0;
    line-height: 1em;
  }
}


::v-deep .theme--dark.button-speed {
  &.v-btn {
    border: 1px solid var(--v-text_2-base);
    color: var(--v-text_2-base);
  }
  &.v-btn.selected {
    border: 1px solid var(--v-text_1-base);
    color: var(--v-text_1-base);
  }
}

.advance-option {
  cursor: pointer;
}