.btn-speed {
  padding: 14px;
  &.is-confirm {
    padding: 8px 14px;
  }
  cursor: pointer;
  > div {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  &__speed {
    color: #4A4A4A;
  }
  &__price {
    color: #5C6C7F;
  }
  &.selected {
    background-color: var(--v-torusBrand3-base);
  }
  &.theme--dark {
    background-color: var(--v-torusBlack2-base);
    .btn-speed__speed {
      color: #D3D3D4;
    }
    .btn-speed__price {
      color: #979797;
    }
    &.selected {
      background-color: var(--v-torusBlack-base);
    }
  }
}
