.new-device-container {
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-shadow: 0px 14px 28px rgba(211, 221, 255, 0.06);

  border-radius: 6px;
  box-sizing: border-box;
  min-height: 750px;
  position: relative;
  padding: 50px 50px 120px;

  .new-device-header {
    margin-bottom: 24px;
    &__title {
      color: var(--v-torusFont1-base);
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
    }
    &__description {
      color: var(--v-text_2-base);
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .info-box {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
  }

  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);

    .new-device-header {
      &__title {
        color: var(--v-torusFont2-base);
      }
    }

    .info-box {
      background: var(--v-torusBlack-base);
      border: 0;
      color: var(--v-text_2-base);
      .v-icon {
        color: var(--v-text_2-base);
      }
    }
    
    ::v-deep .v-input.v-text-field--outlined > .v-input__control > .v-input__slot {
      background: #28292E;
      border-radius: 6px;
      fieldset {
        border: 0;
      }
      .v-select__selection--comma {
        color: var(--v-text_2-base) !important;
      }
      input {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &.isDapp {
    background: transparent;
    border-bottom: 0;
    box-shadow: none;
  }
}

.v-expansion-panel {
  border: 1px solid #e7e9f4;
  border-radius: 6px;
  margin-top: 0;
  &::before {
    box-shadow: none;
  }
  ::v-deep .v-expansion-panel-content__wrap {
    padding: 0;
  }
}
.v-expansion-panel:not(:first-child) {
  &::after {
    border: 0;
  }
}
.v-expansion-panel-header {
  min-height: unset;
  &.v-expansion-panel-header--active {
    border-bottom: 1px solid #e7e9f4;
    border-radius: 6px;
    min-height: unset;
  }
}

.new-device-container.is-mobile {
  padding: 80px 24px 120px;
  min-height: unset;
  margin-top: 12px;
  border-radius: 0;
  .new-device-header {
    margin-bottom: 16px;
    &__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 8px;
    }
    &__description {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .info-box {
    height: 50px;
  }
}
