// $body-font-family = 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     Sans-serif;
// $alert-font-size = 18px

@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #f7f7f7

@import '~vuetify/src/stylus/main.styl'

//https://github.com/vuetifyjs/vuetify/issues/3583