
@import '../../scss/nav-selector.mixin';
@import '../../scss/outline-tooltip.mixin';

.wallet-home {
  ::v-deep .currency-selector {
    @include navSelector();
    max-width: 75px;
    .v-select__selection {
      color: var(--v-primary-base);
      width: 40px;
    }
    .v-icon {
      color: var(--v-normal_text-base);
    }
  }

  ::v-deep .search-field {
    .v-input__slot {
      min-height: 40px;
    }

    .v-input__append-inner {
      margin-top: 8px;
    }

    .v-icon.v-icon {
      width: 12px;
    }
  }

  .refresh-button {
    .v-icon {
      width: 12px;
    }
  }
}

.v-tooltip__content {
  @include outlineTooltip();
  ::v-deep .outline-tooltip {
    &::after {
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
    }
  }
}