.new-device-container {
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-shadow: 0px 14px 28px rgba(211, 221, 255, 0.06);

  border-radius: 6px;
  box-sizing: border-box;
  min-height: 750px;
  position: relative;
  padding: 50px 50px 120px;

  .new-device-header {
    margin-bottom: 24px;
    &__title {
      color: var(--v-text_1-base);
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
    }
    &__description {
      color: var(--v-text_2-base);
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .v-tabs.device-list-tab {
    ::v-deep .v-tabs-bar {
      background: none;
    }
    .v-tab {
      text-transform: none;
      font-size: 12px;
      line-height: 18px;
      min-height: 30px;
    }
  }
  .v-tabs-items {
    background: none;
  }

  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);

    .new-device-header {
      &__title {
        color: var(--v-torusFont1-base);
      }
      &__description {
        color: var(--v-torusFont1-base);
      }
    }

    ::v-deep .v-input.v-text-field--outlined > .v-input__control > .v-input__slot {
      background: #3c3e45;
      border-radius: 3px;
      .v-select__selection--comma {
        color: var(--v-text_2-base) !important;
      }
      input {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

.new-device-container.is-mobile {
  padding: 80px 24px 120px;
  min-height: unset;
  margin-top: 12px;
  border-radius: 0;
  .new-device-header {
    margin-bottom: 16px;
    &__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 8px;
    }
    &__description {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.info-box {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #d3d5e2;
  box-sizing: border-box;
  border-radius: 6px;
  &.select {
    cursor: pointer;
    &.active {
      border: 1px solid var(--v-torusBrand1-base);
    }
  }
  &--link {
    cursor: pointer;
    position: relative;
    &::before {
      background-color: currentColor;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    }
    &:hover::before {
      opacity: 0.04;
    }
  }
  &--menu {
    border: 0;
    border-radius: 0;
  }

  .device-details {
    &--name {
      font-size: 14px;
      line-height: 1.25rem;
      font-weight: bold;
    }
    &--index {
      font-size: 12px;
      line-height: 0.875rem;
    }
    &--list {
      font-size: 12px;
      line-height: 0.875rem;
    }
  }
}
.info-box.is-mobile {
  .device-details {
    &--name {
      font-size: 12px;
      line-height: 0.875rem;
      font-weight: bold;
    }
    &--index {
      font-size: 10px;
      line-height: 0.857rem;
    }
    &--list {
      font-size: 12px;
      line-height: 0.875rem;
    }
  }
}
.info-box.is-dark {
  background: var(--v-torusBlack-base);
  border: 0;
  color: var(--v-text_2-base);
  .v-icon {
    color: var(--v-text_2-base);
  }
  &.info-box--menu {
    border: 0;
  }
}
