.save-alert {
  ::v-deep .v-alert__content {
    color: var(--v-text_1-base) !important;
  }

  ::v-deep .v-alert__icon {
    display: none;
  }

  &.error-bg {
    background-color: #e20d0d !important;
  }
  
  &.success-bg {
    background-color: #2dcc70 !important;
  }

}