.v-menu__content {
  .v-list-item {
    &.active {
      border-radius: 6px;
      background-color: var(--v-primary-base);
      .v-list-item__title {
        font-weight: bold;
        color: #ffffff;
      }
    }
    &:not(.active):hover {
      border-radius: 6px;
      background-color: var(--v-primary-lighten5);
    }
  }
}

label {
  font-size: 14px;
}
