.register-panel-right {
  background-image: url('/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #0364ff;
  background-position: 70% bottom;

  @media only screen and (min-width: 960px) {
    background-position: 80% bottom;
  }

  .caption {
    width: 80%;
    margin: auto;
  }

  &.torus-dark {
    background-image: url('/images/login-bg-dark.jpg');
    background-color: #242529;
  }

  .right-panel-header {
    font-size: 24px;
    @media only screen and (min-width: 960px) {
      font-size: 32px;
    }
  }
  .right-panel-subheader {
    width: 100%;
    @media only screen and (min-width: 960px) {
      width: 80%;
    }
    @media only screen and (min-width: 1400px) {
      width: 60%;
    }
  }
}

.default {
  height: 100vh;
}

.v-text-field__details {
  padding: 0;
}

.link {
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  box-shadow: none;
  background-color: white !important;
  text-transform: unset;
  color: #0364ff !important;
  &:hover {
    background-color: white !important;
  }
}

a {
  text-decoration: none;
}

body,
html {
  height: 100vh;
  overflow-y: hidden;
}

.register-btn {
  &.v-btn {
    width: 70%;
    border-radius: 9px;
    height: 60px;
    border: 1px solid #f1f2f6;
    img {
      height: 26px;
    }
  }
  ::v-deep .v-btn__content {
    justify-content: center;
  }

  &.torus-dark {
    border: 1px solid #36373b;
    padding-left: 2px;
    background-color: #4285f4 !important;
    color: #ffffff !important;

    img {
      height: 56px;
    }
  }
}

.vue-tel-input {
  height: 55px;
  margin-bottom: 1rem;
}

.vue-tel-input:focus-within {
  border: 2px solid #bbb;
  outline: none !important;
  box-shadow: none !important;
  border-color: #bbb !important;
}

.vue-tel-input:focus {
  outline: none !important;
}

.vti__input {
  font-size: 16px;
  border: none;
}

.vti__input::-webkit-input-placeholder {
  color: var(--v-text_1-base);
}

.vti__input:-ms-input-placeholder {
  color: var(--v-text_1-base);
}

.vti__input::placeholder {
  color: var(--v-text_1-base);
}

.vti__dropdown.open {
  background-color: transparent !important;
}

.vti__dropdown-list.below {
  top: 55px !important;
}

.vti__dropdown:focus,
:hover :active,
:not(ul) {
  background-color: transparent !important;
  outline: none;
}

.vti__dropdown-list.below {
  background-color: #ffffff !important;
  li {
    color: #000000;
    padding: 10px 0 !important;
  }
}
