.header-container {
  .v-tab {
    text-transform: inherit;
    &.v-tab--selected {
      color: rgb(var(--v-theme-torusBrand1));
    }
  }

  .home-link {
    cursor: pointer;
  }

  .toast-container {
    top: 66px;
    position: absolute;
    width: 100%;
    left: 0;
    @media (max-width: 960px) {
      top: 58px;
    }
  }
}
