.tkey-confirm-dialog {
  background: #ffffff;
  min-height: 650px;
  padding: 60px 50px;

  .new-device-header {
    margin-bottom: 24px;
    &__title {
      color: var(--v-torusFont1-base);
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px;
    }
    &__description {
      color: var(--v-text_2-base);
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .info-box {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #d3d5e2;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
    padding: 12px 24px;
  }
  &.is-dark {
    background: var(--v-torusBlack2-base);
    border: 1px solid #343539;
    box-shadow: 0px 14px 28px rgba(92, 108, 127, 0.06);

    .new-device-header {
      &__title {
        color: var(--v-torusFont2-base);
      }
    }

    .info-box {
      background: var(--v-torusBlack-base);
      border: 0;
      color: var(--v-text_2-base);
      .v-icon {
        color: var(--v-text_2-base);
      }
    }
  }
}

.tkey-confirm-dialog.is-mobile {
    padding: 80px 24px 120px;
    min-height: unset;
    .new-device-header {
      margin-bottom: 16px;
      &__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 8px;
      }
      &__description {
        font-size: 12px;
        line-height: 18px;
      }
    }
    .info-box {
      padding: 12px 16px;
    }
  }
  