body,
html {
  height: inherit;
  overflow-y: auto !important;
  max-width: 100%;
  overflow-x: hidden;
}

/* .container.fill-height {
  overflow-y: auto;
  overflow-x: hidden;
} */

.clearfix {
  clear: both;
}
