.login-panel-left {
  background: #f9f9fb;
  &.torus-dark {
    background: linear-gradient(
      43.08deg,
      #26272c 0.89%,
      rgba(43, 44, 49, 0.975926) 19.43%,
      rgba(42, 43, 48, 0.980053) 37.98%,
      rgba(42, 43, 48, 0.97911) 60.77%,
      rgba(42, 43, 48, 0.979198) 70.3%
    );
  }
}

.login-panel-right {
  background: linear-gradient(36.97deg, #f1f4fb 39.12%, rgba(241, 244, 251, 0) 83.1%);

  &.torus-dark {
    background: linear-gradient(
      222.08deg,
      #26272c 1.73%,
      rgba(40, 41, 46, 0.988961) 42.88%,
      rgba(40, 41, 46, 0.989349) 61.68%,
      rgba(46, 47, 52, 0.960249) 86.96%
    );
  }

  &.login-panel-right--mobile {
    background: none;
  }
}

.logout-btn {
  &.v-btn {
    border: 1px solid #f1f2f6 !important;
    height: inherit;
  }
  &.theme--dark.v-btn:not(.v-btn--text):not(.v-btn--icon) {
    border: 1px solid #343539;
    background-color: #424242;
  }
}

.background-login {
  position: relative;
  @extend .default;

  @media only screen and (min-width: 1264px) {
    background-size: 100%;
  }
}

.default {
  height: 100%;
}

body,
html {
  height: 100%;
  overflow-y: hidden;
}

.mobile-login-container {
  section {
    min-height: 100vh;
  }
  .more-icon {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
    box-shadow: 0px 14px 28px rgba(46, 91, 255, 0.06);
  }
}
