.container {
  max-width: 100%;
}

.redirect-container {
  .redirect-title {
    font-size: 14px;
  }
  .redirect-info {
    font-size: 28px;
  }
  &--mobile {
    .redirect-title {
      font-size: 14px;
    }
    .redirect-info {
      font-size: 24px;
    }
  }
}

.footer {
  position: absolute;
  bottom: 60px;
  width: 100%;
  font-size: 11px;
  line-height: 1.2em;
  .powered-by {
    color: #b7b8bd;
  }
}

.account-item-checkbox {
  justify-content: center;
  width: 400px;
  padding: 10px 20px;
  margin: auto;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.account-item-checkbox:hover {
  border-color: #DADADA;
  border-radius: 6px;
}

.account-item-checkbox.selected {
  border-color: #DADADA;
  background-color: #F9F9FB;
  
  ::v-deep .v-input__slot {
    background-color: #F9F9FB !important;
  }
}

.account-app {
  font-size: 14px;
}
.account-address {
  font-size: 12px;
}

.v-btn {
  background-color: var(--v-torusBrand1-base);
  color: #FFFFFF;
  width: 400px;
}
