.wallet-transfer {
  .page-title {
    font-size: 20px;
    line-height: 23px;
  }
  .currency-rate {
    margin-bottom: 2px;
  }
  .select-coin {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 28px rgba(46, 91, 255, 0.06);
    color: var(--v-torusFont1-base);
    border-radius: 6px !important;
    font-size: 16px;
    display: flex;
    border: 1px solid var(--v-torusGray1-base);
    ::v-deep .v-chip__content {
      width: 100%;
    }
    .v-icon--right {
      color: #D3D5E2;
    }
    &.theme--dark {
      background-color: var(--v-torusBlack-base) !important;
      box-shadow: none;
      border: 1px solid var(--v-torusGray3-base);
    }
  }
  ::v-deep .v-messages {
    text-align: right;
    &.error--text {
      text-align: left;
    }
  }
  .form-container.mobile {
    background: none;
  }
  .send-mode.v-btn {
    &.theme--dark, &.theme--light {
      border: 0 !important;
    }
    &.theme--dark.active {
      background-color: var(--v-torusBlack2-base) !important;
      color: var(--v-torusFont2-base) !important;
      font-weight: bold;
      cursor: default;
      box-shadow: 5px 5px 10px #242529, -5px -5px 10px #37383C !important;
    }
    &.theme--light.active {
      background-color: #FFFFFF !important;
      color: var(--v-text_2-base) !important;
      font-weight: bold;
      box-shadow: 5px 5px 10px #DEE5FF, -5px -5px 10px #FAFBFF;;
      cursor: default;
    }
  }
  &.mobile-view {
    .select-coin.theme--dark {
      background: var(--v-torusBlack2-base) !important;
    }
    .form-container {
      &.theme--dark {
        ::v-deep .v-input.v-text-field--outlined > .v-input__control > .v-input__slot {
          background: var(--v-torusBlack2-base);
        }
      }
    }    
  }
  ::v-deep .recipient-address.hasQrError .v-text-field__details {
    margin-bottom: 2px;
  }
}

.v-btn.share-btn {
  background: #F5F6FF;
  border: 1px solid #F1F2F6;
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  .v-icon {
    color: #55ACEE;
  }
  span {
    color: var(--v-text_2-base);
  }
  &.theme--dark {
    background: #242529;
    border: 1px solid #343539;
    span {
      color: #55ACEE;
    }
  }
}

.qr-scan-container {
  position: relative;
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}