.wallet-transfer {
  .currency-rate {
    margin-bottom: 2px;
  }
  .select-coin {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 4px 28px rgba(46, 91, 255, 0.06);
    border-color: var(--v-text_2-base);
    color: var(--v-torusFont1-base);
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    ::v-deep .v-chip__content {
      width: 100%;
    }
    .v-icon--right {
      color: #D3D5E2;
    }
    &.theme--dark {
      background-color: var(--v-torusBlack-base) !important;
      box-shadow: none;
      border: 0;
    }
  }
  ::v-deep .v-messages {
    text-align: right;
    &.error--text {
      text-align: left;
    }
  }
  .form-container.mobile {
    background: none;
  }
  .send-mode.v-btn {
    &.theme--dark, &.theme--light {
      border: 0 !important;
    }
    &.theme--dark.active {
      background-color: var(--v-torusBlack2-base) !important;
      color: var(--v-torusGray3-base) !important;
      cursor: default;
      box-shadow: 5px 5px 10px #242529, -5px -5px 10px #37383C !important;
    }
    &.theme--light.active {
      background-color: #FFFFFF !important;
      color: var(--v-torusGray1-base) !important;
      box-shadow: 5px 5px 10px #DEE5FF, -5px -5px 10px #FAFBFF;;
      cursor: default;
    }
  }
  &.mobile-view {
    .select-coin {
      background: var(--v-torusBlack2-base) !important;
    }
    .form-container {
      &.theme--dark {
        ::v-deep .v-input.v-text-field--outlined > .v-input__control > .v-input__slot {
          background: var(--v-torusBlack2-base);
        }
      }
    }    
  }
}
