.wallet-transfer {
  ::v-deep .v-messages {
    text-align: right;
    &.error--text {
      text-align: left;
    }
  }
  ::v-deep .select-coin-container {
    .v-icon {
      color: var(--v-text_2-base);
    }
  }
  .select-coin {
    border-color: var(--v-text_2-base);
    color: var(--v-text_1-base);
    font-size: 14px;
    display: flex;
    ::v-deep .v-chip__content {
      width: 100%;
    }
  }
  .recipient-address {
    ::v-deep .v-input__icon.v-input__icon--clear {
      .v-icon.v-icon.v-icon--link {
        height: 16px;
      }
    }
  }
}