.wallet-topup-mercuryo {
  .help-icon {
    height: 13px;
    vertical-align: middle;
  }

  .unique-hint {
    :deep(.v-text-field__details) {
      display: none;
    }

    :deep(.error--text) {
      .v-text-field__details {
        display: inherit;
      }
    }

    .v-btn {
      border-style: dashed;
    }
  }
}
