.two-factor-auth-container {
  .settings-container {
    background: #FBFCFF;
    border: 1px solid #D3D5E2;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .factor-list {
    border-radius: 6px;
    .v-avatar {
      border-radius: 0;
      align-self: start;
      & > svg, & > .v-icon {
        margin: auto;
      }
    }
    .v-list-item:not(:last-child) {
      border-bottom: thin solid #D3D5E2;
      &.theme--dark {
        border-bottom: thin solid rgba(255, 255, 255, 0.12);
      }
    }
    &.theme--dark {
      border: 1px solid #202125;
    }
    .v-list-item {
      border-bottom: 1px solid #f5f5f5;
      &:last-child {
        border-bottom: 0;
      }
      &.theme--dark {
        border-bottom: 1px solid #202125;
      }
    }
  }

  ::v-deep .v-btn__content {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }

  &.is-dark {
    .settings-container {
      background: #2F3136;
      border: 1px solid #5C6C7F;
    }

    .factor-list {
      border: 1px solid #202125;
      .v-list-item {
        background: #28292E;
        &.theme--dark {
          border-bottom: 1px solid #202125;
        }
      }
    }
  }
}