.two-factor-auth-container {
  .settings-container {
    background: #FBFCFF;
    border: 1px solid #D3D5E2;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .factor-list {
    &.theme--dark {
      border: 1px solid #202125;
    }
    .v-list-item {
      border-bottom: 1px solid #f5f5f5;
      &:last-child {
        border-bottom: 0;
      }
      &.theme--dark {
        border-bottom: 1px solid #202125;
      }
    }
  }

  &.is-dark {
    .settings-container {
      background: #2F3136;
      border: 1px solid #5C6C7F;
    }

    .factor-list {
      border: 1px solid #202125;
      .v-list-item {
        background: #28292E;
        &.theme--dark {
          border-bottom: 1px solid #202125;
        }
      }
    }
  }
}